---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Biography</h2>
  <p>
    小学校から高校まで野球一筋→大学卒業後ギター作りの専門学校へ→楽器販売店では接客に馴染めず退職→未経験から独学で学習しWeb制作会社に転職。
  </p>
  <p>
    自らの経験から未経験からWeb業界を目指す人向けの情報、Web制作についてのちょっとしたTipsや役立つことを発信しています！
  </p>
  <p>TypeScript/React/Next.js/Astro学習中！</p>
  <h2>Hobby</h2>
  <p>野球、サッカー、F1、スポーツ観戦</p>
  <h2>Links</h2>
  <ul>
    <li>
      Twitter：
      <a class="social-icon" href="https://twitter.com/Miz_dev" target="_blank"
        >https://twitter.com/Miz_dev
      </a>
    </li>
    <li>
      GitHub：
      <a class="social-icon" href="https://github.com/Miz-dev" target="_blank"
        >https://github.com/Miz-dev
      </a>
    </li>
    <li>
      MizLog：
      <a class="social-icon" href="https://mizlog.dev/" target="_blank"
        >https://mizlog.dev/
      </a>
    </li>
    <li>
      Zenn：
      <a class="social-icon" href="https://zenn.dev/miz_dev" target="_blank"
        >https://zenn.dev/miz_dev
      </a>
    </li>
  </ul>
</BaseLayout>
