---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="py-4">
  <nav class="flex items-center justify-between">
    <ThemeIcon />
    <Navigation />
    <Hamburger />
  </nav>
</header>
