---

---

<div
  id="nav-links"
  class="absolute left-0 top-14 m-0 hidden h-full w-full bg-white dark:bg-dark-navy md:static md:ml-5 md:flex md:w-auto md:gap-x-4 md:bg-none"
>
  <a
    href="/"
    class="block py-3 text-center text-xl font-bold text-gray duration-300 hover:text-primary focus:text-primary dark:text-white dark:hover:opacity-70 dark:focus:opacity-70 md:inline-block md:px-1 md:py-2"
    >Home</a
  >
  <a
    href="/about"
    class="block py-3 text-center text-xl font-bold text-gray duration-300 hover:text-primary focus:text-primary dark:text-white dark:hover:opacity-70 dark:focus:opacity-70 md:inline-block md:px-1 md:py-2"
    >About</a
  >
  <a
    href="/tags/"
    class="block py-3 text-center text-xl font-bold text-gray duration-300 hover:text-primary focus:text-primary dark:text-white dark:hover:opacity-70 dark:focus:opacity-70 md:inline-block md:px-1 md:py-2"
    >Tags</a
  >
</div>
