---
const { title, url, pubDate } = Astro.props;
---

<li>
  <a href={url}>
    <h2>{title}</h2>
    <time>{pubDate}</time>
  </a>
</li>

<style>
  li {
    border: 1px solid #2c568e;
    border-radius: 1.5rem;
    list-style: none;
  }
  li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2c568e;
    text-decoration: none;
    padding: 2.5rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.4s;
  }
  li a:hover,
  a:focus {
    opacity: 0.5;
  }
  h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }
</style>
