---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CKW9K19T9V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CKW9K19T9V");
    </script>
  </head>
  <body
    class="mx-auto flex min-h-screen w-full flex-col px-4 py-0 text-black [max-width:80ch] dark:bg-dark-navy dark:text-white"
  >
    <Header />
    <h1 class="border-current mb-8 border-b pb-4 text-3xl text-primary dark:text-white">
      {pageTitle}
    </h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
